/* IMPOSTAZIONI GENERALI */

body {
    width: 450px;
    background-image: url(../img/sfondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* HEADER */
#box1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #0088aa;
    color: white;
    padding-bottom: 15px;
    
}

#logo {
    width: 270px;
    padding-top: 35px;
    text-align: center;
}


header ul {
    list-style-type: none;
    }

/* MAIN */
#author {
    display: block;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-top: 1rem;
  }

  #box2 {
    margin-top: 25px;
    width: 420px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 15px;
  }

  main strong {
    color: red;
  }

 #video  {
    border-radius: 10%;
 }

 
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid black;
    padding: 5px;
  }
/* FORM */

/* ELEMENTI NELL' ASIDE */
#box3 {
background-color: whitesmoke;
padding: 15px;

}

#nov {
    text-align: center;
}

/* FOOTER */
